<!DOCTYPE html>
<html>
<head>
    <style>
    body{
        background-color: royalblue
    }
    
    
    </style>
</head>

<body>

    <h1>EJS</h1>
    <h3> Do you know me? <br>
      Hello  <%= name %>
      <br>
      Your Generated password is <%= psw %>
    </h3>   

</body>


</html>