<!DOCTYPE html>
<html>
<head>
    <style>
    body{
        background-color: limegreen
    }
    
    
    </style>
</head>

<body>

    <h1>EJS</h1>
    <h3> Do you know me? <br>
      Hello  
      <br>
     <h4>
      <ul>
            <%- JSON.stringify(entry) %>
      </ul>

     </h4>
    </h3>   

</body>


</html>